<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiliangyu.tempdc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="vmWU2hKMLzWjxvYFcx6mI5Gj" />
        </service>

        <activity
            android:name="com.shiliangyu.tempdc.Welcome"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shiliangyu.tempdc.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.shiliangyu.temtool.DownloadToolActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.shiliangyu.tempdc.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.shiliangyu.temtool.ToolSelect"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.shiliangyu.calendarbuild.CalEvent"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.shiliangyu.temtool.MapTool" >
        </activity>
        <activity android:name="com.shiliangyu.temtool.CarLimteTool" >
        </activity>
        <activity android:name="com.shiliangyu.temtool.AddressNumberTool" >
        </activity>
        <activity android:name="com.shiliangyu.temtool.PersonNumberTool" >
        </activity>
        <activity
            android:name="com.shiliangyu.calendarbuild.AlarmDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>

        <service android:name="com.shiliangyu.calendarbuild.AlarmService" >
        </service>
    </application>

</manifest>